body {
  background-color: #f4f4f4;
}
nav.navbar {
  background-color: #3d8e7f;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
}

nav.navbar-light .logo img {
  height: 27px;
  width: 30px;
}
nav.navbar-light .logo a.navbar-brand {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
nav.navbar-light .logo a:hover {
  color: white;
}
nav.navbar-light .logo a span {
  color: #f9ba50;
}

nav #navbarNav .login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav #navbarNav .login .fa-bell {
  color: white;
}
nav #navbarNav .login img {
  margin-left: 30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
nav #navbarNav .login img:hover,
nav #navbarNav .login .fa-bell:hover {
  cursor: pointer;
}
.jumbotron .container {
  background-image: url(../image/image1.png);
  height: 198px;
  background-size: cover;
}
.jumbotron .container h1 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.jumbotron .container p {
  color: white;
  text-transform: capitalize;
}
nav.bread ol li a {
  text-decoration: none;
  color: black;
}
nav.bread ol li a:hover {
  color: #3e8e7e;
}
section.mapel {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-between;
}
section.mapel aside {
  padding: 20px;
  flex-basis: 35%;
  /* background-color: #ffffff; */
  /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); */
}
section.mapel aside h2 {
  font-size: 24px;
  font-weight: bold;
}
section.mapel aside .cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
section.mapel aside .cards img {
  height: 91px;
  width: 115px;
}
section.mapel aside .cards .judul {
  margin: 0px 20px;
}
section.mapel main {
  padding: 20px;
  flex-basis: 60%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
section.mapel main h2 {
  font-size: 24px;
  font-weight: bold;
}
section.mapel main .container {
  display: flex;
  flex-wrap: wrap;
}
section.mapel main .container .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  flex-basis: 45%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
section.mapel main .container .cards:hover {
  cursor: pointer;
}
section.mapel main .container .cards img {
  height: 150px;
  width: 220px;
}
section.mapel main .container .cards .progress {
  background-color: #ebdfba;
}
section.mapel main .container .cards .progress .progress-bar {
  background-color: #fabb51;
}
