body {
  background-color: #f4f4f4;
}
nav {
  background-color: #3d8e7f;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}
nav.navbar-light .navbar-brand.logo {
  color: #ffffff;
}
nav .navbar-collapse .login button {
  background-color: #f9ba50;
  width: 100px;
  color: #ffffff;
}
nav .navbar-collapse .login button:hover {
  background-color: #eec173;
}
.jumbotron {
  background-color: white;
  width: 100%;
  height: 550px;
  background-image: url(../image/GAMBAR.png);
  background-size: cover;
}
.jumbotron .container {
  position: relative;
}
.jumbotron .container .judul {
  width: 700px;
  color: white;
}
.jumbotron .container .judul h1 {
  text-transform: uppercase;
}
.jumbotron img {
  width: 508px;
  height: 402px;
  position: absolute;
  right: 0px;
  top: 200px;
}
section.top {
  height: 300px;
}
section.top .judul h1 {
  color: #4f4f4f;
  text-transform: uppercase;
}
section.top .judul h1::after {
  content: "";
  border-bottom: 4px solid #4f4f4f;
  display: block;
  border-radius: 5px;
  width: 83%;
  margin: auto;
}
section.top .menu .box .item {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  height: 80px;
  font-size: 27px;
  text-transform: capitalize;
}
section.top .menu .box .item:hover {
  cursor: pointer;
  transform: translateY(-15px);
}

section.tengah {
  height: 900px;
}
section.tengah .top {
  background-image: url(../image/tengah2.png);
  background-size: cover;
  height: 800px;
}
section.tengah .top .one {
  height: 400px;
  display: flex;
  flex-direction: row;
  position: relative;
}
section.tengah .top .one img {
  position: absolute;
  width: 600px;
  height: 400px;
  top: -100px;
}
section.tengah .top .one-kanan .box {
  width: 70%;
}
section.tengah .top .one-kanan .box h2 {
  font-weight: bold;
  color: black;
  font-size: 46px;
}
section.tengah .top .one-kanan .box h2 span {
  margin-left: -10px;
  color: #fabb51;
}
section.tengah .top .one-kanan .box p {
  font-size: 24px;
  color: white;
}
section.tengah .top .one-kanan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 20px;
}

section.tengah .top .two {
  height: 400px;
  display: flex;
  flex-direction: row;
  position: relative;
}
section.tengah .top .two-kiri {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 10px;
  top: 35%;
}
section.tengah .top .two img {
  position: absolute;
  width: 600px;
  height: 400px;
  right: 40px;
  bottom: -10px;
}
section.tengah .top .two-kiri .box {
  width: 70%;
}
section.tengah .top .two-kiri .box h2 {
  color: white;
}
section.tengah .top .two-kiri .box h2 span {
  color: #fabb51;
  font-weight: bold;
}
section.tengah .top .two-kiri .box p {
  color: white;
}

section.tengah .bottom {
  height: 400px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
section.tengah .bottom .three {
  width: 90%;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: row;
}
section.tengah .bottom .three .image {
  position: relative;
  width: 40%;
  height: 400px;
}
section.tengah .bottom .three .image img.img-1 {
  height: 400px;
  width: 100%;
  position: absolute;
  z-index: 1;
}
section.tengah .bottom .three .image img.img-2 {
  position: absolute;
  z-index: 2;
  top: -20px;
  height: 200px;
}
section.tengah .bottom .three .image img.img-3 {
  position: absolute;
  z-index: 3;
  bottom: 0px;
  height: 200px;
  right: -10px;
}
section.tengah .bottom .three .three-kanan {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 60%;
}
section.tengah .bottom .three .three-kanan .box {
  width: 80%;
}
section.tengah .bottom .three .three-kanan .box h2 {
  font-size: 46px;
  font-weight: bold;
}
section.tengah .bottom .three .three-kanan .box h2 span {
  color: #fabb51;
  font-weight: bold;
}
section.tengah .bottom .three .three-kanan .box p {
  font-size: 24px;
  font-weight: bold;
}

footer {
  margin-top: 500px;
  height: 300px;
  background-image: url(../image/footer.png);
  background-size: cover;
  background-position: 5px;
  background-repeat: no-repeat;
}
