body {
  background-color: #f4f4f4;
}
nav {
  background-color: #3d8e7f;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
}

nav.navbar-light .logo img {
  height: 27px;
  width: 30px;
}
nav.navbar-light .logo a.navbar-brand {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
nav.navbar-light .logo a:hover {
  color: white;
}
nav.navbar-light .logo a span {
  color: #f9ba50;
}
nav .navbar-collapse .login button {
  background-color: #f9ba50;
  width: 100px;
  color: #ffffff;
}
nav .navbar-collapse .login button:hover {
  background-color: #eec173;
}
.jumbotron {
  background-color: white;
  width: 100%;
  height: 550px;
  background-image: url(../image/GAMBAR.png);
  background-size: cover;
}

.jumbotron .box-login {
  position: absolute;
  height: 370px;
  width: 428px;
  background-color: white;
  right: 50px;
  top: 60px;
  padding: 20px;
  transition: ease-in 0.7s;

  -webkit-transition: ease-in 0.7s;
  -moz-transition: ease-in 0.7s;
  -ms-transition: ease-in 0.7s;
  -o-transition: ease-in 0.7s;
}
.jumbotron .box-login.show {
  opacity: 1;
  visibility: visible;
  z-index: 9;
}
.jumbotron .box-login.hide {
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}
.jumbotron .box-login form .judul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.jumbotron .box-login form .judul img {
  height: 40px;
  width: 40px;
  color: red;
  margin-right: 20px;
  position: relative;
}
.jumbotron .box-login form .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.jumbotron .box-login form .input label {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0px;
  text-transform: capitalize;
}
.jumbotron .box-login form .input input {
  height: 40px;
  border: #dbdbdb solid;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.jumbotron .box-login form .input input:focus {
  outline: none;
}
.jumbotron .box-login form .forget {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.jumbotron .box-login form .button button {
  height: 41px;
  width: 101px;
  background-color: #fabb51;
  color: white;
  border: #fabb51 0px;
  /* outline: none; */
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.jumbotron .box-login form .button button:hover {
  cursor: pointer;
}
.jumbotron .box-login form .button button:focus {
  outline: none;
}
.jumbotron .container {
  position: relative;
}
.jumbotron .container .judul {
  width: 700px;
  color: white;
}
.jumbotron .container .judul h1 {
  text-transform: uppercase;
}
.jumbotron img.gambar {
  width: 508px;
  height: 402px;
  position: absolute;
  right: 0px;
  top: 180px;
}
section.top {
  height: 300px;
}
section.top .judul h1 {
  color: #4f4f4f;
  text-transform: uppercase;
}
section.top .judul h1::after {
  content: "";
  border-bottom: 4px solid #4f4f4f;
  display: block;
  border-radius: 5px;
  width: 83%;
  margin: auto;
}
section.top .menu .box .item {
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  height: 80px;
  font-size: 27px;
  text-transform: capitalize;
}
section.top .menu .box .item:hover {
  cursor: pointer;
  -webkit-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
}

section.tengah {
  height: 900px;
}
section.tengah .top {
  background-image: url(../image/tengah2.png);
  background-size: cover;
  height: 800px;
}
section.tengah .top .one {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}
section.tengah .top .one img {
  position: absolute;
  width: 600px;
  height: 400px;
  top: -100px;
}
section.tengah .top .one-kanan .box {
  width: 70%;
}
section.tengah .top .one-kanan .box h2 {
  font-weight: bold;
  color: black;
  font-size: 46px;
}
section.tengah .top .one-kanan .box h2 span {
  margin-left: -10px;
  color: #fabb51;
}
section.tengah .top .one-kanan .box p {
  font-size: 24px;
  color: white;
}
section.tengah .top .one-kanan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 20px;
}

section.tengah .top .two {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}
section.tengah .top .two-kiri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  left: 10px;
  top: 35%;
}
section.tengah .top .two img {
  position: absolute;
  width: 600px;
  height: 400px;
  right: 40px;
  bottom: -10px;
}
section.tengah .top .two-kiri .box {
  width: 70%;
}
section.tengah .top .two-kiri .box h2 {
  color: white;
}
section.tengah .top .two-kiri .box h2 span {
  color: #fabb51;
  font-weight: bold;
}
section.tengah .top .two-kiri .box p {
  color: white;
}

section.tengah .bottom {
  height: 400px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 100px;
}
section.tengah .bottom .three {
  width: 90%;
  height: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
section.tengah .bottom .three .image {
  position: relative;
  width: 40%;
  height: 400px;
}
section.tengah .bottom .three .image img.img-1 {
  height: 400px;
  width: 100%;
  position: absolute;
  z-index: 1;
}
section.tengah .bottom .three .image img.img-2 {
  position: absolute;
  z-index: 2;
  top: -20px;
  height: 200px;
}
section.tengah .bottom .three .image img.img-3 {
  position: absolute;
  z-index: 3;
  bottom: 0px;
  height: 200px;
  right: -10px;
}
section.tengah .bottom .three .three-kanan {
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}
section.tengah .bottom .three .three-kanan .box {
  width: 80%;
}
section.tengah .bottom .three .three-kanan .box h2 {
  font-size: 46px;
  font-weight: bold;
}
section.tengah .bottom .three .three-kanan .box h2 span {
  color: #fabb51;
  font-weight: bold;
}
section.tengah .bottom .three .three-kanan .box p {
  font-size: 24px;
  font-weight: bold;
}

footer {
  margin-top: 500px;
  height: 300px;
  background-image: url(../image/footer.png);
  background-size: cover;
  background-position: 5px;
  background-repeat: no-repeat;
}
